/* gcode-syntax-highlighter css */

.cm-block_delete { color: grey; }

.cm-program_start { color: yellow; }

.cm-program_number { color: black; }

.cm-block_number { color: limegreen; }

.cm-g_code { color: blue; }

.cm-m_code { color: orange}

.cm-speeds { color:red; }

.cm-feeds { color: purple; }

.cm-tools { color: red; }

